<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %> <!-- Singular 'list_path' for individual list -->
    </li>
  <% end %>
</ul>

<%= link_to 'New List', new_list_path %> <!-- Plural 'new_list_path' -->
